---
---

@import "{{ site.theme }}";

$primary: #101722;

.page-header {
  background-image: url('https://github.com/The-Zeitgeist-Movement/A3P/blob/main/assets/images/background-default.jpg');
  background-size: cover;
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary;
  }
}

.outter {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  
  > div {
    width: 25%;
    display: block;
    text-align: center; 
    padding: 20px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  
    &:last-of-type {
      border-right: 1px solid #ddd;
    }
  }
}
