---
---

@import "{{ site.theme }}";
.outter {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  
  > div {
    width: 25%;
    display: block;
    text-align: center; 
    padding: 20px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  
    &:last-of-type {
      border-right: 1px solid #ddd;
    }
  }
}
